<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loskon.noteminimalism3"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:largestWidthLimitDp="600"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:name=".sqlite.AppSqlite"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noteminimalism3">
        <activity
            android:name=".ui.activities.update.SettingsActivityUpdate"
            android:exported="true" />

        <receiver android:name=".ui.widgets.add.AppWidgetAddProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_add" />
        </receiver>
        <receiver android:name=".ui.widgets.note.AppWidgetNoteProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_note" />
        </receiver>

        <activity android:name=".ui.widgets.note.AppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.FontsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.BackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SettingsAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.activities.update.NoteActivityUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.update.MainActivityUpdate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>