<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loskon.noteminimalism3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <compatible-screens>
        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi" android:screenSize="small" />
        <screen
            android:screenDensity="mdpi" android:screenSize="small" />
        <screen
            android:screenDensity="hdpi" android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi" android:screenSize="small" />
        <screen
            android:screenDensity="480" android:screenSize="small" />
        <screen
            android:screenDensity="640" android:screenSize="small" />

        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi" android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi" android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi" android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi" android:screenSize="normal" />
        <screen
            android:screenDensity="420" android:screenSize="normal" />
        <screen
            android:screenDensity="480" android:screenSize="normal" />
        <screen
            android:screenDensity="560" android:screenSize="normal" />
        <screen
            android:screenDensity="640" android:screenSize="normal" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noteminimalism3">

        <receiver android:name=".ui.widgets.add.AppWidgetAddProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_add" />
        </receiver>

        <receiver android:name=".ui.widgets.note.AppWidgetNoteProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_note" />
        </receiver>

        <activity android:name=".ui.widgets.note.AppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.BackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>